.stock-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 8px rgb(90, 90, 90);
  color: var(--dark-color);
}

.stock-ticker {
  text-decoration: none;
}

.variables--container {
  display: flex;
  justify-content: space-between;
}

.green-card {
  background: linear-gradient(to right, #76e07e, #42e24d);
}

.red-card {
  background: linear-gradient(to right, #ee817c, #cf4b44)
}